---
import Header from '../components/header.astro';
import SEO from '../components/seo.astro';
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Header title="Fergfo Options" />
  <body class="min-h-screen bg-gray-50">
    <slot />
  </body>
</html>
